
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(40, 218, 144, 0.541);
    font-weight: bolder;
}
.wireframe {
    display: flex;
    display: flex wrap
    border-top: #131313;
    border-style: groove ;
}

h1
{text-align: center}

h3{color: #131313;
font-family: cursive;
margin: 40px;
}

nav :hover
{
color: rgb(226, 24, 24);
}

header {
padding: 20px;
}

header #samspic {
    object-fit: contain;
    width: 20%;
}

img {
    object-fit: contain;
    width: 250px;
    display:flex;
    padding: 9px;
}

#placeholder1 {
width: 290px;
display:flex
padding: 9px;
}

h3 {
    color: black;

}

#contact :hover
{
color: rgb(226, 24, 24);
}