/* *{margin:0;padding:0;box-sizing: border-box;} */
body {
    background-color: rgba(40, 218, 144, 0.541);
    color:white
}
.wireframe {
    display: flex;
    border-top: #131313;
    border-style: groove ;
}

h1
{text-align: center}

h3{color: #131313;
font-family: cursive;
margin: 40px;
}

nav :hover
{
color: rgb(226, 24, 24);
}

header #samspic {
    object-fit: contain;
    width: 20%;
}
